<div class="tab-pane fade" id="nav-{{id}}" role="tabpanel" aria-labelledby="nav-{{id}}">
  <div class="d-flex justify-content-between align-items-end">
    <div>
      <p class="h5">{{analysis}}</p>
      <p class="h2"><b>{{run_name}}</b></p>
      <p>{{countable}}</p>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      {{#if has_table}}
      <button type="button" class="btn btn-outline-secondary text-nowrap" id="btn-download-table-{{id}}">Download table</button>
      {{/if}}
      {{#if has_graph}}
        {{#if has_multiple_plot_types}}
          <button type="button" class="btn btn-outline-secondary dropdown-toggle text-nowrap" data-bs-toggle="dropdown" aria-expanded="false">Download plot</button>
          <ul class="dropdown-menu">
              {{#each plot}}
                {{#if name}}
                  {{#each ../plot_type}}
                    <li><a class="dropdown-item" href="#" id="btn-download-plot-{{type}}-{{../id}}">{{../name}}: {{text}}</a></li>
                  {{/each}}
                {{else}}
                  {{#each ../plot_type}}
                    <li><a class="dropdown-item" href="#" id="btn-download-plot-{{type}}-{{../id}}">{{text}}</a></li>
                  {{/each}}
                {{/if}}
              {{/each}}
          </ul>
        {{else}}
          <button type="button" class="btn btn-outline-secondary text-nowrap" id="btn-download-plot-{{plot_type.[0].type}}-{{id}}">{{plot_type.[0].text}}</button>
        {{/if}}
      {{/if}}
    </div>
  </div>
  <div>
    <br/>
    {{#each items}}
    {{{this}}}
    <br/>
    {{/each}}
  </div>
</div>
