<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <script>
{{{bootstrap_js}}}
{{{bootstrap_color_modes_js}}}
{{{chart_js}}}
{{{chart_js_matrix}}}

{{{custom_lib_js}}}
    </script>
    <style>
{{{bootstrap_css}}}
{{{custom_css}}}
    </style>
    <title>panacus: {{fname}}</title>
</head>
<body>
{{{symbols_svg}}}
<main class="d-flex flex-nowrap">
    {{{tree}}}

    {{{content}}}

    <div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
      <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center"
        id="bd-theme"
        type="button"
        aria-expanded="false"
        data-bs-toggle="dropdown"
        aria-label="Toggle theme (auto)">
        <svg class="bi my-1 theme-icon-active tree-icon" width="1em" height="1em"><use href="#circle-half"></use></svg>
        <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
            <svg class="bi me-2 opacity-50 darkmode-icon" width="1em" height="1em"><use href="#sun-fill"></use></svg>
            Light
            <svg class="bi ms-auto d-none darkmode-icon" width="1em" height="1em"><use href="#check2"></use></svg>
          </button>
        </li>
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
            <svg class="bi me-2 opacity-50 darkmode-icon" width="1em" height="1em"><use href="#moon-stars-fill"></use></svg>
            Dark
            <svg class="bi ms-auto d-none darkmode-icon" width="1em" height="1em"><use href="#check2"></use></svg>
          </button>
        </li>
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
            <svg class="bi me-2 opacity-50 darkmode-icon" width="1em" height="1em"><use href="#circle-half"></use></svg>
            Auto
            <svg class="bi ms-auto d-none darkmode-icon" width="1em" height="1em"><use href="#check2"></use></svg>
          </button>
        </li>
      </ul>
    </div>
</main>

    <script>
    var path = window.location.pathname;
var page = "panacus: " + path.split("/").pop();
document.title = page;
    const fname = '{{{fname}}}';
const objects = {{{data_hook}}};
console.log(objects);
{{{hook_after_js}}}
    </script>
</body>
</html>
